.container{
    width: 45%;
    margin: 0 auto;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: rgba(89, 0, 255, 0.291);
}
.box{
    width: 420px;
    height: 520px;
    background-color: #fff;
    border-radius: 20px;
    margin-top: 6rem;
    margin-left: 5rem;
    box-shadow: 2px 14px 33px 7px rgba(172, 255, 47, 0.77);
}
.boxitems img{
    width: 172px;
    border-radius: 50% ;
    position:relative ;
    margin-left: 125px;
    margin-top: 25px;
}
.boxitems h1{
    text-align: center;
    padding-top: 1rem;
}
.position{
    text-align: center;
    padding-top: 2rem;
    font-size: 20px;
    font-weight: 300;
    letter-spacing: 2px;
    color: #2125298b;
}
.uni{
    text-align: center;
    padding-top: 2rem;
    font-size: 20px;
    font-weight: 300;
    letter-spacing: 2px;
    color: #212529c8;
}
.icons{
    margin-left: 9.2rem;
    margin-top: 25px;


}
.icons i{
    padding: 0 2px;
    font-size: 24px;
}
.button a{
    text-decoration: none;
    background-color: black;
    color: white;
    padding: 14px 94px;
    border-radius: 32px;
}
.button{
    padding-top: 40px;
    padding-left: 88px;
}